.video.block {
    padding: var(--spacing-24) 0;
}

.video.block .video-tag-wrapper {
    position: relative;
    border-radius: var(--radius-md);
    overflow: hidden;
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: #000;
}
