/* breadcrumbs */
header .breadcrumbs {
    display: none;
    margin: auto;
    max-width: 1248px;
    height: var(--breadcrumbs-height);
    padding: 0 24px;
    font-size: var(--body-font-size-xs);
    overflow: hidden;
}

header .breadcrumbs ol {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
    padding: 0;
    color: var(--dark-color);
}

header .breadcrumbs ol li:not(:last-child)::after {
    content: '/';
    padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li[aria-current] {
    color: var(--text-color);
}

@media (width >= 900px) {
    header .breadcrumbs {
        display: block;
        max-width: 1264px;
        padding: 0 32px;
    }
}
