:root {
    --arrow-icon-size: 16px;
}

.section.breadcrumbs-container {
    padding-top: var(--spacing-64);
    padding-bottom: var(--spacing-16);
}

.breadcrumbs {
    display: none;
}

.breadcrumbs .breadcrumbs-list,
.breadcrumbs .breadcrumbs-item,
.breadcrumbs .breadcrumbs-item a {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.breadcrumbs .breadcrumbs-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs .breadcrumbs-item,
.breadcrumbs .breadcrumbs-item a {
    color: var(--color-midnight-500);
    font-size: var(--font-size-xs);
    font-weight: 400;
}

.breadcrumbs .breadcrumbs-item a:hover {
    color: var(--color-aqua-500);
    text-decoration: none;
}

.breadcrumbs .breadcrumbs-item[aria-current] {
    color: var(--color-midnight-900);
}

.breadcrumbs .arrow-left {
    height: var(--arrow-icon-size);
    width: var(--arrow-icon-size);
}

@media (width >= 900px) {
    .breadcrumbs {
        display: block;
    }

    .section.breadcrumbs-container {
        padding-bottom: var(--spacing-32);
    }
}
