:root {
    --arrow-icon-size: 16px;
}

.section.breadcrumbs-container {
    padding-top: var(--spacing-64);
    padding-bottom: var(--spacing-32);
}

.breadcrumbs {
    display: none;
    font-size: var(--font-size-xs);
}

.breadcrumbs .breadcrumbs-list {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs .breadcrumbs-item {
    padding: 0;
    margin-right: var(--spacing-8);
}

.breadcrumbs .breadcrumbs-item a {
    color: var(--color-midnight-500);
}

.breadcrumbs .breadcrumbs-item[aria-current] {
    color: var(--color-midnight-900);
}

.breadcrumbs .arrow-left {
    height: var(--arrow-icon-size);
    width: var(--arrow-icon-size);
}

@media (width >= 900px) {
    .breadcrumbs {
        display: block;
    }
}
